.main {
  width: 100%;
  padding: 0px 40px;
  margin: 20px auto;
  background: #DBD4E3;
  border-radius: 10px;
  font-family: 'Open Sans';
}

.main form {
  width: 100%;
  padding: 60px 0;
}

.main p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #291E30;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.main .formContainer {
  position: relative;
}

.main .formContainer input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #291E30;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #291E30;
  outline: none;
  background: #DBD4E3 !important;
}

.main .formContainer label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #291E30;
  font-family: 'Poppins', sans-serif;
  pointer-events: none;
  transition: .5s;
}

.main .formContainer input:focus ~ label,
.main .formContainer input:valid ~ label {
  top: -20px !important;
  left: 0 !important;
  color: #291E30;
  font-size: 12px;
}

.main form a {
  position: relative;
  display: inline-block;
  padding: 0;
  font-weight: bold;
  color: #291E30;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
  border-radius: 8px;
  text-transform: capitalize !important;
}

.main a:hover {
  background: #291E30;
  color: #fff !important;
  border-radius: 5px;
}

.main a span {
  position: absolute;
  display: block;
}

.main a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #291E30);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.main a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.main a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.main a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.main p:last-child {
  color: #aaa;
  font-size: 14px;
}

.main a.a2 {
  color: #fff;
  text-decoration: none;
}

.main a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}


@media screen and (max-width: 768px) {
    .main {
        padding: 0;
        margin: 0;
    }
    h2.frontier_heading {
        text-transform: normal !important;
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px #DBD4E3 inset;
}

.submit_form {
  color: #291E30 !important;
  text-transform: capitalize !important;
}


.submit_form:hover {
  color: #fff !important;
}


.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
